body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}
section.primo h1{
    font-size:60px;
    margin-bottom: 0%;
    
}

header nav ul{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
   padding: 20px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size:16px;
    
}

ul a {
    color: white;
}
section.primo {
    font-size:20px;
    margin: auto;
}
div.scritte {
    font-size:20px;
}
div.scritte h3 {
    font-size:40px;
    margin-bottom: 0%;
}
section.linea{
    height: 30px;
    background-color: black;
}
div.immagine {
    max-width: 100;
    justify-content: center;
    margin-left:100px;
}
div.testo {
    font-size:20px;
    margin-bottom: 0%;
}
div.testo h3 {
    font-size:40px;
    margin-bottom: 0%;
}
div.immagine2 {
    max-width: 100;
    justify-content: center;
    margin-left:100px;
}
div.testo2 {
    font-size:20px;
}
div.testo2 h3 {
    font-size:40px;
    margin-bottom: 0%;
}
main{
    max-width: 800px;
    margin: auto;
}




footer nav ul{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size:20px;
    background-color: black;
    padding: 20px;
}


